<%layout('layouts/boilerplate')%>
<div>
    <h1 class="pb-4">Explore <%=options%>
    </h1>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/faculty/<%=faculty%>">
            <%=faculty%>
          </a></li>
        <li class="breadcrumb-item"><a href="/faculty/<%=faculty%>/semester/<%=id%>">Semester <%=id%></a></li>
        <li class="breadcrumb-item"><a href="/faculty/<%=faculty%>/semester/<%=id%>/<%=course_code%>">
            <%=course_code%>
          </a></li>
        <li class="breadcrumb-item"><a href="#">
            <%=options.toUpperCase()%>
          </a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore <%=options.toUpperCase()%>
        </li>
      </ol>
    </nav>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="d-none d-sm-table-cell">Chapter</th>
          <th scope="col">Notes By</th>
          <th scope="col">View Notes</th>

        </tr>
      </thead>
      <tbody>
        <% notes.forEach((note,index)=> {%>
          <tr>
            <th scope="row" class="d-none d-sm-table-cell">
                <%-note.chapter%>
            </th>
            <td>
                <%-note.noteCreator%>
              </td>
            <td>
                <a href="<%=note.noteURL%>" class="btn btn-info" target="_blank">Click Me</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>